@media (min-width: 0) {
  .member_container {
    height: 20rem;
    width: 100%;
  }

  .member_card_img {
    width: 100%;
    height: 50%;
  }

  .member_card_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px 1px var(--main-clr);
  }

  .member_card_content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 4px 1px var(--main-clr);
  }

  .member_div {
    display: inline;
  }

  .member_card_content a {
    text-decoration: none;
    padding: var(--rem);
    width: 100%;
    margin: var(--half-rem) 0;
    color: var(--light);
    background-color: var(--dark-accent);
    transition: var(--transition-1);
  }

  .member_card_content a:hover {
    background-color: var(--accent-clr);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 2560px) {
}
